/* @import url('./fonts/Oswald-Regular.ttf'); */
@font-face {
  font-family: "OsWald";
  src: local(OsWald), url('./fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: "OsWald";
  src: local(OsWald), url('./fonts/Oswald-Bold.ttf');
  font-weight: bold;
}

body {
  background-color: #222222;
  font-size: 2rem;
  font-family: "OsWald";
  color: #FFFFFF;
  margin:30px
}